$class: [SLUGIFY];
$component: .$(class);
$element: [is=fir-$(class)];
$container: [fir-container=$(class)];

$(container) {
    container-type: inline-size;
    container-name: [SLUGIFY];

    --type-color: var(--cs-light);
    --type-background: var(--cs-primary);

    /**
        Style Options
    */
    &.is-style-light,
    &[classname*="is-style-light"] {
        --type-color: var(--cs-dark);
        --type-background: var(--cs-light);
        background-color: var(--type-background);
    }
}

$(element) {

    background-color: var(--type-background);
    /* font-size: var(--body-xs); */
}


$(component) {

    &__wrap {

    }

    &__title {
        margin: 0 0 1.3rem;
    }

    &__text {

    }

    &__copy {
        width: 100%;
        max-width: var(--screen-lg);
        color: var(--type-color);
        padding: 2em;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    &__copy-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}


/* Responsive Styles */
@container [SLUGIFY] (max-width: 320px) {
    $(component) {

    }
}

@container [SLUGIFY] (min-width: 320px) {
    $(element) {
        
    }
}

@container [SLUGIFY] (min-width: 480px) {
    $(element) {

    }
}

@container [SLUGIFY] (min-width: 768px) {
    $(element) {

    }

    $(component) {       

    }    
}

@container [SLUGIFY] (min-width: 1024px) {
    $(element) {

    }
}

@container [SLUGIFY] (min-width: 1200px) {
    $(element) {
        /* font-size: var(--body-xl); */
    }
}

@container [SLUGIFY] (min-width: 1440px) {
    $(element) {
        /* font-size: var(--body-xxl); */
    }
}